{
    "Version": 1,
    "Name": "Example_Material",
    "AssetType": "Material",
    "UPipelineID": "Pipeline/Example_Pipeline.json",
    "UTextureID": "Texture/Example_Texture.json",
    "TextureSampler": { "FilterMode": "Bilinear", "WrapMode": "Wrap" }
}
